<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
   <meta>
      <identity>
         <uri>urn:groovy</uri>
         <version>1.0.0</version>
      </identity>
      <info>
         <name>Groovy Example</name>
         <description>Generate a dynamic groovy script</description>
         <icon>res:/hello_groovy/pub/icon.png</icon>
      </info>
   </meta>
   <system>
      <dynamic/>
   </system>
   <rootspace name="Groovy Example - Development Space" uri="urn:groovy">
      <fileset>
         <regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
      </fileset>
      <mapper>
         <config>
            <endpoint>
               <id>urn:groovy:DynamiteEndpoint</id>
               <name>Example Service</name>
               <description>Example Groovy service to create dynamic content</description>
               <grammar>res:
                  <group name="service">/hello_groovy</group>/
                  <group name="value">
                     <regex type="anything"/>
                  </group>
               </grammar>
               <request>
                  <identifier>active:groovy</identifier>
                  <argument name="operator">res:/resources/endpoints/example.gy</argument>
                  <argument method="as-string" name="value">arg:value</argument>
               </request>
            </endpoint>
         </config>
         <space>
            <fileset>
               <regex>res:/resources/endpoints/.*</regex>
            </fileset>
            <import>
               <uri>urn:org:netkernel:lang:groovy</uri>
            </import>
         </space>
      </mapper>
      <fileset><!--Icon-->
         <regex>res:/hello_groovy/pub/(.*)</regex>
         <rewrite>res:/resources/pub/$1</rewrite>
      </fileset>
   </rootspace>
</module>